.b{
    height: 100vh;
    /* width: 100%; */
}

/* .main {
    margin-top: 800px;
} 
 @media (max-width: 600px) {
    .b{
        height: 140vh;
        width: 100%;
    }
    .main{
        margin-top: 1300px;
    }
} */
.color{
    background: linear-gradient(#00203fff, #adefd1ff);
}