.cardsn {
    margin-left: 50%; 
    
}

.card-body p {
    font-size: large;
    font-weight: bold;
    width: 90%;
    
}

figure {
    background-color: grey;
    border-radius: 10%;
}

.profilepic {
    padding: 20px;
    border-radius: 100%;
}

/*================================ Modal style ============================================*/
.modal {
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.808);
}

.modal .card-body p {
    font-size: large;
}

form .input  {
    margin-bottom: 10px;
    width: 200%;
    border: 2px solid green;
}